In [3]:
import pandas as pd
df = pd.read_csv("/kaggle/input/car-prices-1/carprices.csv")
df

    Mileage  Age(yrs)  Sell Price($)
0     69000         6          18000
1     35000         3          34000
2     57000         5          26100
3     22500         2          40000
4     46000         4          31500
5     59000         5          26750
6     52000         5          32000
7     72000         6          19300
8     91000         8          12000
9     67000         6          22000
10    83000         7          18700
11    79000         7          19500
12    59000         5          26000
13    58780         4          27500
14    82450         7          19400
15    25400         3          35000
16    28000         2          35500
17    69000         5          19700
18    87600         8          12800
19    52000         5          28200

In [8]:
x = df.drop(["Sell Price($)"],axis="columns")
y = df["Sell Price($)"]

In [15]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2)

from sklearn import linear_model
model = linear_model.LinearRegression()
model.fit(x_train,y_train)
yp = model.predict(x_test)

In [18]:
accuracy = model.score(x_test,y_test)*100
print("The accuracy of the model is {}%".format(accuracy))

The accuracy of the model is 87.56011872127903%